#banner a {
    color: white;
}
#header #nav {
    float: right;
}
#header {
    overflow: hidden;

    padding: 0 20px;
    background-color: black;
    text-align: center;
}
#hero-banner #title h2 {
    height: 90px;
    padding-left: 20px;
    float: left;
    position: fixed;
    color: white;
}
#header #nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 6px;
    font-size: 20px;
    color: white;
    text-decoration: none;

}
#hero-banner {
    background-color: #80d4ff;
    background-size: cover;
    margin: 0;
}
#banner-text h1 {
    font-size: 50px;
    color: white;
    font-weight: normal;
    text-align: center;
    height:20%
}


form {
    background-size: 50px;
    font-size: 20px;
    padding: 80px;
}
input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
}
input[type=email] {
    width: 70%;
    padding: 12px 20px;

    display: block;
    border: 1px solid #ccc;
}


button {
    background-color: transparent;
    color: white;
    padding: 14px 20px;
    border-radius: 25px;
}
.container {
    padding: 16px;
    width: 50%;
    margin: auto;
}
button:hover {
    background-color: #3cb0fd;
    text-decoration: none;
}
span.message {
    padding-top: 16px;
    margin-left: 20px;
    display:block;
}
#footer-section {
    font-size: 40px height: 90px;
    padding: 0 20px;
    text-align: center;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}
