.register-section {
  margin-top: 70px ;
  padding: 70px 0 50px 0;
  background: #16A085;
  opacity: 0.87;
}


.register {
    width: 50%;
    margin: auto;
    text-align: right;
}
.q-form{
    width: 50%;
    margin:auto;
}
