#banner a {
    color: white;
}
#header #nav {
    float: right;
}
#header {
    overflow: hidden;
    height: 90px;
    padding: 0 20px;
    background-color: black;
}
#hero-banner #title h2 {
    text-align: center;
    height: 90px;
    padding-left: 20px;
    float: left;
    position: fixed;
    color: white;
}
#header #nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 6px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
#hero-banner {
    background-color: #0086b3;
    background-size: cover;
    margin: 0;
}
#banner-text h1 {
    font-size: 20px;
    color: white;
    font-weight: normal;
    text-align: center;

}
#banner-text {
  background-color: #0086b3;
}

form {

    background-size: 50px;
    font-size: 20px;
    padding: 80px;
}
input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
}
input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
}
input:required {
    border: 2px solid blue;
}
button {
    background-color: transparent;
    color: white;
    padding: 14px 20px;
    border-radius: 25px;
}

button:hover {
    background-color: #3cb0fd;
    text-decoration: none;
    border-radius: 10px;
}
.container {
  text-align: center;
}
span.psw {
    float: right;
    padding-top: 16px;
    margin-left: 20px;

}

#footer-section {
    font-size: 40px height: 90px;
    padding: 0 20px;
    text-align: center;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}
